@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500;700&display=swap");
:root {
  --jet: hsla(260, 3%, 23%, 1);
  --cultured: hsla(60, 5%, 96%, 1);
  --bud-green: hsla(115, 40%, 51%, 1);
  --fern-green: hsla(115, 24%, 38%, 1);

  font-size: 16px;
}

body {
  margin: 0 auto;
  /* max-width: 960px; */
  font-family: "Roboto";
  background-image: url("../public/bedge-grunge.png");
}

* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
  /* max-width: 960px; */
}
