.button-confirm {
  background-color: var(--jet);
  padding: 1rem 3rem;
  color: var(--cultured);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  border: unset;
  min-width: 16rem;
  transition: all 200ms ease-in-out;
}

.button-confirm:hover {
  transform: scale(1.05);
  cursor: pointer;
}
