/* .transaction-list {
  border: 2px solid var(--jet);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: var(--cultured);
  opacity: 0.7;
  box-shadow: 0 0 5px var(--jet);
  z-index: -1;
} */
