#main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background-color: var(--jet);
  color: var(--gainsboro);
  padding: 1rem 4rem 0.5rem; 
}
#main-footer h2 {
  font-size: 0.9rem;
}
#main-footer p {
  font-size: 0.5rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  gap: 8rem;
}

.footer-column {
  min-width: 10ch;
}

.thank-you {
  margin: 0;
  max-width: 275px;
}

@media (max-width: 600px) {
  .footer-links {
    gap: 2rem;
  }
}