#main-footer {
  margin-top: auto;
  background-color: var(--jet);
  color: var(--gainsboro);
  padding: 1rem 4rem 0.5rem; 
}
#main-footer h2 {
  font-size: 0.9rem;
}
#main-footer p {
  font-size: 0.5rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  padding-bottom: 1rem;
}

.thank-you {
  text-align: center;
  margin: 0;
}