#main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background-color: var(--jet);
  color: var(--gainsboro);
  padding: 1rem 4rem 0.5rem; 
}
#main-footer h2 {
  font-size: 0.9rem;
  padding-bottom: 0.25rem;
}
#main-footer a,#main-footer p {
  font-size: 0.5rem;
  display: block;
  color: var(--gainsboro);
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  gap: 8rem;
}

.footer-column {
  min-width: 10ch;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.thank-you {
  margin: 0;
  max-width: 275px;
  transition: all 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  padding: 1rem;
  user-select: none;
  border: 3px solid var(--jet);
}

.thank-you:hover {
  transform: scale(1.5);
  transform-origin: 50% 100%;
  background-color: var(--rust);
  box-shadow: 0 0 40px var(--gainsboro);
  border-radius: 1rem;
  opacity: 0.9;
}

@media (max-width: 600px) {
  .footer-links {
    gap: 2rem;
  }
}