.nav {
  background-color: darkslategray;
  /* height: 3em; */
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
nav * {
  text-decoration: none;
}

.header-logo {
  padding-left: 1em;
}

.header-logins {
  padding-right: 1em;
}

.nav-text {
  color: whitesmoke;
}
