.scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.scanner {
  margin: 0;
  padding: 0;
}

.scanner video {
  max-width: 450px;
  width: 100%;
}

.transaction-container {
  width: 80%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
