.form-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
  align-items: center;
}

.form-container input {
  height: 24px;
  width: 100%;
  padding: 15px;
  margin: 0.5rem 0;
  border: 1px solid var(--jet);
  border-radius: 2rem;
  font-size: large;
  align-items: center;
}

Button {
  margin: 5px 5px;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 30vw;
  }
}
