.store-list-item {
  background-color: whitesmoke;
  width: 90%;
  border-radius: 0.5em;
  margin: 1em auto;
  transition: width 0.5s, height 0.5s;
}
.store-list-item:hover {
  box-shadow: 5px 5px hsl(0, 4%, 71%);
  width: 89%;
  background-color: white;
  border: 1px solid hsl(0, 4%, 71%);
}

.store-list-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
.store-list-cont {
  display: flex;
  flex-direction: row;
}

.store-list-img {
  width: 50%;
  padding: 1em;
  border-radius: 2em;
  transition: width 0.5s, height 0.5s;
}
.store-list-img:hover {
  /* box-shadow: 5px 5px hsl(0, 4%, 71%); */
  width: 51%;
  background-color: white;
}

.store-description {
  padding: 1em;
}

.store-list-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.hr {
  width: 90%;
}
