.store-list-item {
  background-color: whitesmoke;
  width: 90%;
  border-radius: 0.5em;
  margin: 1em auto;
  transition: width 0.5s, height 0.5s;
}
.store-list-item:hover {
  box-shadow: 5px 5px hsl(0, 4%, 71%);
  width: 89%;
  background-color: white;
  border: 1px solid hsl(0, 4%, 71%);
}

.store-list-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
.store-list-cont {
  display: flex;
  flex-direction: row;
}

.store-list-img {
  width: 50%;
  padding: 1em;
  border-radius: 2em;
  transition: width 0.5s, height 0.5s;
}

.store-description {
  padding: 1em;
}

.store-list-foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.hr {
  width: 90%;
}

/* ------------------------- */
.text-container {
  position: relative;
  width: 80%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008cba;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.text-container:hover .overlay {
  width: 100%;
}
/* .overlay:active {
} */

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
